# Godot .import
/**/.import
*.import

# Unity
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/

**/.vs/
*.vsconfig
*.vscode
*.sln

# Wonderland
**/Wonderland/deploy/
**/cache

# Verge3D
.blend1
**/puzzles_backup