# Godot .import
/**/.import
*.import

# Unity
**/[Ll]ibrary/
**/[Tt]emp/
**/[Oo]bj/
**/[Bb]uilds/
**/[Ll]ogs/
**/[Uu]ser[Ss]ettings/

**/.vs/
*.vsconfig
*.vscode
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Wonderland
**/Wonderland/deploy/
**/cache
imgui.ini

# Verge3D
.blend1
**/puzzles_backup

# Node
/**/node_modules
/**/package-lock.json

# Rogue Engine
/**/Rogue Engine/**/Build