body {
    color: white;
    background-color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
}

a, a:visited, a:hover, a:active {
    color: #dd4a4a;
}

code {
    text-align: left;
}

h1 {
    clear: both;
}

iframe {
    width: 66vw;
    height: calc(66vw * 0.5625); /* 16:9 */
}

li {
    text-align: left;
}

details {
    margin: auto;
}

m2-header {
    text-align: center;
    flex: 0 0 100%;
}

.main {
    width: 66vw;
    margin: 0 auto 0 auto;
}

.source {
    text-align: left;
}

.back {
    float: left;
    font-size: 1.5em;
}
