body {
    color:white;
    background-color:darkslategray;
}

div {
    text-align: center;
}

h3 {
    text-align: left;
}

pre {
    background-color: black;
    color:white;
    text-align: left;
}

li {
    text-align: left;
}