body {
    color:white;
    background-color:darkslategray;
}

div {
    text-align: center;
}

h3 {
    text-align: left;
}

iframe {
    width: 66vw;
    height: calc(66vw * 0.5625); /* 16:9 */
}

pre {
    background-color: black;
    color:white;
    text-align: left;
}

li {
    text-align: left;
}